<button (click)="setView('month')">Mes</button>
<button (click)="setView('week')">Semana</button>
<button (click)="setView('day')">Dia</button>

<br>

<button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">Prev</button>
<button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">Next</button>

<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}</h3>

<div [ngSwitch]="view">
	<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale">
	</mwl-calendar-month-view>
	<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale">
	</mwl-calendar-week-view>
	<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale">
	</mwl-calendar-day-view>
</div>